target
web-app/WEB-INF/classes
events_Coop_20110824-19-30-58-results.xml
events_Coop_20110824-19-30-58.csv
events_External_20110824-19-40-50.csv
get_backupbob_xml.sh
mncc-2*.dump.gz
stacktrace.log
mncc.war
*.sh
*.dump
*.swp
cloudfountry.com.token
.DS_Store
coop-manage-config-dev.groovy
coop-manage-config-prod.groovy
jenkins.passwd
